*{
    margin: 0;
    padding: 0;
}
.navbar{
    background-color: #0065c3;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
}
button{
    background-color: #0065c3;
}
ul{
    list-style-type: none;
    display: flex;
    padding-left: 40px;
}
.logo{
    margin-top: 9px;
    margin-left: 50px;
}
.navbarright{
    display: flex;
    
}